<div class="container">
	<div class="content-background">
		<img class="logo" src="img/AURA LOGO BLACK.png">
		<img class="top-text" src="img/We_are_creating.png">		
		<!-- <img class="top-text" src="img/Be_the_first_to_discover_box.png ">				 -->
		<img class="palm-image" src="img/Palm_Backdrop.png">				
		<img class="sign-up-text" src="img/SIGN_UP_HERE.png">				
		<form class="email-form" action="/submit" method="POST">
			<input class="email-input" type="text" name="model[name]" placeholder="Enter Email Address..."/>
			<input class="submit" type="submit" value="Submit" />
		</form>
	</div>
	<div class="social-buttons">	
		<img class="social-icon" src="img/Mail.png">					
		<img class="social-icon" src="img/Twitter.png">				
		<img class="social-icon" src="img/Facebook.png">				
		<img class="social-icon" src="img/Instagram.png">				
	</div>
	<div class="email">
		<h2>PRESS ENQUIRIES: <a class="email-address" href="mailto:TOM@AURAENERGYCO.COM?Subject=Press%20Enquiry" target="_top">TOM@AURAENERGYCO.COM</a></h2>		
	</div>
</div>