	<form class="email-form" action="/submit" method="POST">
		<input class="email-input" type="text" name="model[name]" placeholder="Enter Email Address..."/>
		<input class="submit" type="submit" value="Submit" />
	</form>
	<img class="top-text" src="img/We_are_creating.png">		
	<img class="top-text-image" src="img/Be_the_first_to_discover_box.png ">				
	<img class="palm-image" src="img/Palm_Backdrop.png">				
	<img class="sign-up-text" src="img/SIGN_UP_HERE.png">				
