<!DOCTYPE html>
<html>

<head>
  <title></title>

  <link href="stylesheets/css/main.css" rel="stylesheet">  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>  


	<title>HTML Redirect Example 0.1</title>
	<meta http-equiv="Content-Type" content="text/html">
	<meta name="description" content="Junior HTML Example 0.1">
	<meta name="keywords" content="Junior, html">
	<style type="text/css">td {text-align:"left"; vertical-align:"middle"; font-family:"arial"; color:"black"} h1,h2,h3,h4,h5,h6,h7 {text-align:"center"; vertical-align:"middle"; font-family:"arial"; color:"black"}
  </style>
</head>


<body>
<div class="container">
  <div class="content-background">
    <img class="logo" src="img/AURA LOGO BLACK.png">
    <%= yield %>
  </div>
</div>
<div class="social-buttons">  
  <a href="mailto:TOM@AURAENERGYCO.COM?Subject=Info">
    <img class="social-icon" src="img/Mail.png">          
  </a>
  <a href="">
    <img class="social-icon" src="img/Twitter.png">       
  </a>
  <a href="">
    <img class="social-icon" src="img/Facebook.png">        
  </a>
  <a href="">
    <img class="social-icon" src="img/Instagram.png">       
  </a>
</div>
<div class="email">
  <h2>PRESS ENQUIRIES: <a class="email-address" href="mailto:TOM@AURAENERGYCO.COM?Subject=Press%20Enquiry" target="_top">TOM@AURAENERGYCO.COM</a></h2>    
</div>




</body>

</html>