<h3>All Email Adresses</h3>
<table class="email-adresses">
	<thead style="border-bottom:1px solid black; display:block;">
		<tr>
			<th>
				Email Address
			</th>
		</tr>
	</thead>
	<tbody>	
		<% @models.each do |model| %>			
		<tr style="border-bottom:1px solid black; display:block;">	
			<td>
				<%= model.name %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
		<a href="/">Back to Home</a>